*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.navbar{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #ffffff;
  box-shadow: 5px 7px 5px rgb(216, 215, 215);
}
.smallLogo{
  display: none;
}
.logo .logoi{
  height: 150px;
  width: 150px;
}
.searchbarInput{
  display: block;
  width: 600px;
  height: 50px;
  font-size: 22px;
  padding: 0 10px;
  color: #0f0f0f;
  border-radius: 10px;
  border: 1.5px solid #c7c7c7;
  margin: 15px 0;
}
.searchbarInput:focus{
  outline: none;
}
.addBtn{
  width: 66px;
  height: 46px;
  background-color: #0389ff;
  border: 1px solid rgb(230, 226, 226);
  font-size: 25px;
  color: rgb(244, 240, 240);
  border-radius: 5px;
  position: relative;
  left: 150px;
  cursor: pointer;
}
.thmBtn{
  width: 80px;
  height: 46px;
  background-color: #0389ff;
  border: 1px solid rgb(230, 226, 226);
  font-size: 20px;
  color: rgb(244, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  top: -20px;
  position: relative;
}
.priority{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
}
.categories{
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
}
.inputCategory{
  width: 180px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
  padding: 0 5px;
}
.addctg{
  width: auto;
  height: 30px;
  padding: 5px;
  color: rgb(244, 240, 240);
  border-radius: 5px;
  cursor: pointer;
  background-color: #0389ff;
  border: 1px solid rgb(230, 226, 226);
}
.addCtg{
  border: 2px solid black;
}
.body{
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  height: 100%;
}
.todo{
  width: 50vw;
  border-right: 1px solid rgb(199, 197, 197);
  height: 81.5vh;
  text-align: center;
  padding: 10px;
}
.todoCards{
  height: 75vh;
  overflow-y: scroll;
}
.todoCards::-webkit-scrollbar{
  display: none;
}
.done1{
  width: 50vw;
  text-align: center;
  padding: 10px;
}
.heading{
  font-weight: 400;
  color: rgb(85, 85, 85);
  display: inline;
  margin-bottom: 5px;
}
.im{
  width: 30px;
  position: relative;
  bottom: -5px;
  margin-right: 5px;
}
.cardParent{
  display: flex;
  margin-top: 10px;
}
.card{
  margin-bottom: 20px;
  width: 500px;
  height: 150px;
  border: 3px solid #e0e0e0; /* Inner border */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  padding: 14px;
  flex-shrink: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.align{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.align::-webkit-scrollbar {
  display: none;  
}
.left,.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* .card .left{
  position: relative;
  left: -20px;
} */
.right{
  align-items: flex-end;
  margin-left: auto;
}
.crud{
  display: flex;
  gap: 5px;
}
.title{
  font-size: 25px;
  height: 80px;
  max-width: 360px;
  word-wrap: break-word;
}
.category{
  height: 30px;
  border: 1px solid rgb(146, 145, 145);
  padding: 3px 6px;
  background-color: #dfdddd;
  border-radius: 10px;
}
.pri{
  position: relative;
  border: none;
  border-radius: 10px;
  padding: 3px 6px;
}
.high{
  background-color: #e53935;
  color:  #facece;
}
.medium{
  background-color: #FB8C00;
  color:  #f5ebe1;
}
.low{
  background-color: #66BB6A;
  color:  rgb(244, 244, 244);
}
.editBtn{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: none;
}
.editBtn img{
  height: 25px;
  width: 25px;
}
.done .edit,.done .delete{
  display: none;
}
.done{
  height: 120px;
  background-color: #f0f0f0;       
  color: #888;                     
  text-decoration: line-through;   
  opacity: 0.7;
  border-radius: 10px;
  margin-bottom: 20px;
}
.done .checkbox{
  display: none;
}
.done .left{
  gap:15px;
  position: relative;
  left:20px;
}
.done .title{
  overflow: hidden;
}
.status{
  font-size: 40px;
  font-weight: 300;
  color: #918e8e;
}
.checkbox{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 231, 231);
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.editInput{
  width: 250px;
  height: 35px;
  border-radius: 10px;
  padding: 0 3px;
  border: 2px solid rgb(177, 175, 175);
}
.Dark {
  background-color: #000000;
  color: white;
}
.Dark .navbar{
  background-color: #0c0c0c;
  box-shadow: 5px 7px 5px rgb(33, 33, 33);
}
.Dark .searchbarInput{
  background-color: #454444;
  color: rgb(177, 174, 174);
  border: 1.5px solid #525252;
}
.Dark .dark{
  background-color:#454444;
  border: 1.5px solid #525252;
  color: rgb(177, 174, 174);
}
.Dark .darkbtn{
  border: 1px solid #525252;
  color: rgb(230, 227, 227);
}
.Dark .checkbox{
  background-color: #757474;
}
.Dark .card{
  background-color: #323131;
  border: 3px solid #757474; /* Inner border */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.Dark .editbtn,.Dark .deletebtn{
  background-color:black;
}
.Dark .category{
  background-color: #454444;
}
.Dark .done{
  background-color: #373535;
  color: white;
}
.Dark .heading{
  color: white;
}
@media(max-width:1200px){
  .searchbarInput{
    width: 550px;
  }
  .addBtn{
    left: 94px;
  }
}
@media (max-width:1024px) {
    .card{
      width: 350px;
    }
}
@media(max-width:920px){
  .searchbarInput{
    width: 500px;
  }
  .addBtn{
    left: 45px;
  }
}
@media(max-width:830px){
  .searchbarInput{
    width: 400px;
  }
  .addBtn{
    left: 14.4vw;
    height: 40px;
    font-size: 20px;
  }
  .thmBtn{
    height: 40px;
    font-size: 20px;
  }
}
@media(max-width:768px){
  .searchbarInput{
    width: 400px;
  }
  .addBtn{
    left: 90px;
    height: 35px;
    font-size: 20px;
  }
  .thmBtn{
    position: relative;
    top: -20px;
    height: 40px;
  }
  .card{
    width: 300px;
  }
  .title{
    max-width: 170px;
  }
}
@media(max-width:736px){
  .logo img{
    width: 80px;
    height: auto;
  }
  .navbar{
    height: 180px;
  }
  .addBtn{
    left: 80px;
  }
}
@media(max-width:666px){
  .navbar{
    height: 240px;
  }
  .searchBar{
    display: flex;
    flex-direction: column;
  }
  .priority{
    margin-bottom: 10px;
  }
  .searchbarInput{
    margin-bottom: 10;
  }
  .categories{
    margin-bottom: 10px;
  }
  .addBtn{
    left:150px;
    width: 90px;
    height: 40px;
  }
  .thmBtn{
    top:1px;
  }
  .body{
    flex-direction: column;
  }
  .todo{
    width: 100vw;
    height: 35vh;
  }
  .done1{
    width: 100vw;
    height: 291.5px;
  }
  .todoCards{
    padding: 0 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 20px;
  }
  .logo .logoi{
    display: none;
  }
  .searchBar{
    display: block;
    position: relative;
    top:-10px;
  }
  .navbar{
    flex-direction: column;
    gap: 0;
  }
  .searchbarInput{
    width: 90vw;
  }
  .priority{
    width: 60px;
    font-size: 12px;
  }
  .categories{
    width: 80px;
    font-size: 12px;
  }
  .addBtn{
    left: 130px;
  }
  .logo .smallLogo{
    display: block;
    width: 45px;
    height: auto;
  }
}
@media(max-width:594px){
  .logo .logoi{
    display: none;
  }
  .searchBar{
    display: block;
    position: relative;
    top:-10px;
  }
  .navbar{
    flex-direction: column;
    gap: 0;
  }
  .searchbarInput{
    width: 90vw;
  }
  .priority{
    width: 60px;
    font-size: 12px;
  }
  .categories{
    width: 80px;
    font-size: 12px;
  }
  .addBtn{
    left: 130px;
  }
  .logo .smallLogo{
    display: block;
    width: 45px;
    height: auto;
  }
}
@media(max-width:504px){
  .addBtn{
    left: 62px;
  }
}
@media (max-width:425px){
  .logo img{
    width: 70px;
    height: auto;
  }
  .navbar{
    height: auto;
  }
  .searchbarInput{
    width: 350px;
    height: 40px;
    font-size: 12px;
  }
  .priority{
    width: 50px;
    font-size: 8px;
    height: 20px;
  }
  .categories{
    width: 70px;
    height: 20px;
    font-size: 8px;
  }
  .addctg{
    width: 55px;
    font-size: 8px;
    height: 20px;
    white-space: nowrap;
    padding-left: 3px;
  }
  .thmBtn{
    width: 55px;
    height: 25px;
    font-size: 12px;
    position: relative;
    right: -10px;
  }
  .addBtn{
    width: 55px;
    height: 25px;
    font-size: 12px;
    left: 70px;
  }
  .card{
    width: 300px;
    font-size: 12px;
  }
  .title{
    font-size: 17px;
    max-width: 160px;
    word-wrap: break-word;
  }
  
  .category{
    width: 85px;
    height: 23px;
    padding: 2px;
  }
  .heading{
    font-size: 25px;
  }
  .im{
    width: 25px;
  }
}
@media(max-width:375px){
  .card{
    width: 280px;
    font-size: 12px;
  }
  .title{
    font-size: 18px;
    max-width: 170px;
    word-wrap: break-word;
  }
  
  .category{
    width: 90px;
    height: 25px;
    padding: 2px;
  }
  .heading{
    font-size: 25px;
  }
  .im{
    width: 25px;
  }
}
@media(max-width:320px){
  .searchbarInput{
    width: 270px;
  }
  .addBtn{
    left: 30px;
  }
  .card{
    width: 250px;
    font-size: 10px;
  }
  .title{
    font-size: 15px;
    max-width: 150px;
    word-wrap: break-word;
  }
  
  .category{
    width: 70px;
    height: 20px;
    padding: 2px;
  }
  .heading{
    font-size: 25px;
  }
  .im{
    width: 25px;
  }
}