*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #ffffff;
  box-shadow: 5px 7px 5px rgb(201, 200, 200);
}
.logo img{
  height: 150px;
  width: 150px;
}
.searchbarInput{
  display: block;
  width: 600px;
  height: 50px;
  font-size: 22px;
  padding: 0 10px;
  color: #0f0f0f;
  border-radius: 10px;
  border: 1.5px solid #c7c7c7;
  margin: 15px 0;
}
.searchbarInput:focus{
  outline: none;
}
.addBtn{
  width: 66px;
  height: 46px;
  background-color: #0389ff;
  border: 1px solid rgb(230, 226, 226);
  font-size: 25px;
  color: rgb(244, 240, 240);
  border-radius: 5px;
  position: relative;
  left: 264px;
  cursor: pointer;
}
.thmBtn{
  width: 80px;
  height: 46px;
  background-color: #0389ff;
  border: 1px solid rgb(230, 226, 226);
  font-size: 20px;
  color: rgb(244, 240, 240);
  border-radius: 5px;
  cursor: pointer;
}
.priority{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
}
.categories{
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid #c7c7c7;
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
}
.addCtg{
  border: 2px solid black;
}
.body{
  display: flex;
  justify-content: space-between;
}
.todo{
  width: 50vw;
  border-right: 1px solid rgb(199, 197, 197);
  height: 81.5vh;
  text-align: center;
  padding: 10px;
}
.done{
  width: 50vw;
  text-align: center;
  padding: 10px;
}
.heading{
  font-weight: 400;
  color: rgb(85, 85, 85);
  display: inline;
}
.im{
  width: 30px;
  position: relative;
  bottom: -5px;
  margin-right: 5px;
}
.card{
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  border: 2px solid #4f4e4e; /* Inner border */
  box-shadow: 0 0 0 4px #4f4e4e;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.align{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left,.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.right{
  align-items: flex-end;
}
.crud{
  display: flex;
  gap: 5px;
}
.title{
  font-size: 25px;
}
.category{
  height: 30px;
  border: 1px solid rgb(146, 145, 145);
  padding: 3px 6px;
  background-color: #dfdddd;
  border-radius: 10px;
}
.pri{
  position: relative;
  border: none;
  background-color: #e53935;
  border-radius: 10px;
  padding: 3px 6px;
  color:  #f3b6b6;
}